body{
    margin: 6% 10%;
    background-color: #181719;    
}
h1{
    color: white;
    font-family: 'Skia', sans-serif;
    font-size: 4em;
    margin: 0;
    line-height: 100%;
}

h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:  1.5em;
}
p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:  1.25em;
}
a{
    text-decoration: none;
}

.flexbox1{
    display: flex;
}

.flexbox2{
    display: flex;
    margin-top: 2em;
}

.content{
    padding-top: 4em;
    max-width: 90%;
}
.header {
    max-width: 680px;
}
.images {
    width: 100%;
    height:  auto;
}
.light-closed{
    z-index:-1;
    width: 100%;
    height:  auto;
    min-width: 125px;
}

.padding{
    padding-left: 1em;
}
.icon{
    width:100%;
    height: auto;
    max-width: 60px;
}
.icon:hover{
    transform: scale(1.15);
}

.footer{
    padding-top: 8%;
    text-align: center;
}

@media only screen and (max-width: 800px){
    .flexbox1{
        flex-direction: column-reverse;
    }
}